# {{ ansible_managed }}

[Unit]
Description=Redis In-Memory Data Store
After=syslog.target
After=network.target

[Service]
Type=Type=forking
User={{ redis_user }}
Group={{ redis_group }}

{% if item.value.service_name is redis-server %}
ExecStart={{ redis_bin_dir }}/{{ item.value.service_name }} {{ redis_server_etc_file }}
{% else %}
ExecStart={{ redis_bin_dir }}/{{ item.value.service_name }} {{ redis_sentinel_etc_file }}
{% endif %}
ExecStop=/usr/local/bin/redis-cli shutdown
# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=120
Restart=on-failure
RestartSec=2
LimitNOFILE=10240
# This creates a specific slice which all services will operate from
#  The accounting options give us the ability to see resource usage through
#  the `systemd-cgtop` command.
Slice=redis.slice
CPUAccounting=true
BlockIOAccounting=true
MemoryAccounting=false
TasksAccounting=true

[Install]
WantedBy=multi-user.target
